#!/bin/bash
cd {{ inspec_exec_directory }}/{{ inspec_profiles_directory }}/inspec-tests-main
{{ inspec_exec_cmd }} --config {{ inspec_exec_directory }}/config.json --waiver-file waivers.yml --log-level debug .